*{
  margin: 0;
  padding: 0;
}

.head1{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 255, 21);
}

.div1-head{
  background-color: #666;
  width: 300px;
  border-radius: 55px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.titulo-productos{
  display: flex;
  justify-content: center;
}

.productos{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card{
  margin: 6px;
  margin-top: 1px;
  transition-duration: .4s;
  border-radius: 15px;
}

.card:hover{
  border-color: black;
}

.card-img{
  height: 50%;
}

.boton-card{
  padding: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
  font-family: sans-serif;
  transition: .6s;
}

.boton-card:hover{
  background-color: rgb(49, 47, 47);
}

.boton-card-noDispo{
  padding: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: #ddd;
  color: #666;
  cursor: no-drop; 
}

  